# .dockerignore

# Dependencias locales (se instalan dentro del contenedor)
node_modules

# Archivos de entorno y logs
.env
.env.*
npm-debug.log

# Configuración de Docker
Dockerfile
docker-compose.yml

# Control de versiones y configuración del editor
.git
.gitignore
.vscode